{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if error != None %}
        <h2 style="color: blue;"> {{ error }}</h2>
        <p></p>
    {% endif %}
    <h3>Create New Page</h3>
    <p></p>
    <body>
        <form method="post">
            {% csrf_token %}
            <h4> Title: <input id="newpagetitle" name="newpagetitle" type="text" placeholder="Enter title" size = 40px></h4>
            <textarea id="newpageedit" name="newpageedit"  cols = "50"></textarea>
            <br>
            <input type="submit">
        </form>
    </body>

{% endblock %}